{% extends 'ocrapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="" style="transform: scale(0.85,0.95);">
<h1>Change Your Account Password</h1><br>

<div class="form-group">
<form method="POST" action="{% url 'updatepassword' %}">
{% csrf_token %}
<label for='oldpassword'><b>Enter Your Old Password:</b></label>
<input type="password" name="oldpassword" class="form-control" placeholder="Enter existing Password">
<br>
<label for='pasword'><b>Enter Password:</b></label>
<input type="password" name="password" class="form-control" placeholder="Enter Your New Password">
<br>
<label for='Confirm_password'><b>Confirm Password:</b></label>
<input type="password" name="Confirm_password" class="form-control" placeholder="Confirm Your New Password">
</div>
<br>
<input type="submit" class="btn btn-success" value="Change Password">

{% if messages %}
<div class="messages">
    {% for message in messages %}
<br><h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
    {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
